<a href="https://colab.research.google.com/github/soymelisa/OnboardingDataAnalysis/blob/master/M04_S01%2602.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import json

#### !pip install [librería]

# Sesión 1

### CON FUNCIONES DE CALCULADORA

In [0]:
def sumar(valor1=0,valor2=0):
	return valor1 + valor2

In [0]:
def restar(valor1=0,valor2=0):
	return valor1 - valor2

In [0]:
def multiplicar(valor1=0,valor2=0):
	return valor1 * valor2

In [0]:
def dividir(valor1=0,valor2=0):
	return valor1 / valor2

In [0]:
div = y/x
print(div)

1.5

### Más bien habría que crear un Menú de opciones

In [0]:
def opciones(opc=0):
	opcion = int(input("Selecione una Opción... "))
	return opcion

In [32]:
vete = "Vete por la banqueta"
vete

'Vete por la banqueta'

In [0]:
def imprimir_hey_palabra():
  print("Vete por la banqueta")

## Calcula el Índice de Masa Corporal

In [0]:
peso = 54
estatura = 1.60
def masa_corporal(peso,estatura):
  return peso/(estatura)**2

In [0]:
print (masa_corporal(54,1.60))

21.093749999999996

In [0]:
def masa_user():
  peso = int(input("Ingresa peso: "))
  estatura = float(input("Ingresa estatura: "))
  return peso/estatura**2

## Operadores de Comparación y condicionales

### Podemos enlazar múltiples condiciones usando if, elif, else

In [0]:
def masa_corporal():
  imc_user = masa_user()
  print ("IMC"+ str(imc_user))
  
  if imc_user == 18.5:
    print("Estas bajo de peso")

  elif imc_user < 24.9:
    print("Sobrepeso")

  elif imc_user < 29.9:
    print("Obesidad grado 1")

  elif imc_user < 34.9:
    print("Obesidad grado 2")

  elif imc_user < 39.9:
    print("Obesidad grado 3")

In [35]:
masa_user()

peso: 54
estatura: 1.60

21.093749999999996

### Reto 04

In [0]:
def formato_dinero(lista_de_num):
  lista_de_dinero=[]
  for numero in lista_de_num:
    lista_de_dinero.append("$" + str(numero))
  print(lista_de_dinero)

In [25]:
lista_de_num = [34, 56, 100]
formato_dinero(lista_de_num)

['$34', '$56', '$100']

# Sesión 02

In [38]:
import timeit

%timeit
for i in range(1000_000):
  masa_user(54,1.60)

TypeError: ignored

#### Lectura de X-Separated values

In [0]:
import pandas as pd

In [56]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [0]:
df= pd.read_csv('drive/My Drive/DATA_ANALYSIS_BOOTCAMP/M04_Python-DA/citas.csv', sep=",")

In [59]:
df.head(3)

                                               texto            autor
0  “The world as we have created it is a process ...  Albert Einstein
1  “It is our choices, Harry, that show what we t...     J.K. Rowling
2  “There are only two ways to live your life. On...  Albert Einstein

In [60]:
df.dtypes

texto    object
autor    object
dtype: object

## Reto 02

In [77]:
df = pd.read_csv('/content/drive/My Drive/DATA_ANALYSIS_BOOTCAMP/M04_Python-DA/CrimeReports.csv', sep=",")

df

          cdatetime                            address  ...   latitude   longitude
0       1/1/06 0:00                 3108 OCCIDENTAL DR  ...  38.550420 -121.391416
1       1/1/06 0:00                2082 EXPEDITION WAY  ...  38.473501 -121.490186
2       1/1/06 0:00                         4 PALEN CT  ...  38.657846 -121.462101
3       1/1/06 0:00                     22 BECKFORD CT  ...  38.506774 -121.426951
4       1/1/06 0:00                   3421 AUBURN BLVD  ...  38.637448 -121.384613
...             ...                                ...  ...        ...         ...
7579  1/31/06 23:36                     26TH ST / G ST  ...  38.577832 -121.470460
7580  1/31/06 23:40                 4011 FREEPORT BLVD  ...  38.537591 -121.492591
7581  1/31/06 23:41                     30TH ST / K ST  ...  38.572030 -121.467012
7582  1/31/06 23:45                 5303 FRANKLIN BLVD  ...  38.527187 -121.471248
7583  1/31/06 23:50  COBBLE COVE LN / COBBLE SHORES DR  ...  38.479628 -121.528634

[7584 rows x 9 columns]

In [78]:

df[['ucr_ncic_code', 'crimedescr']]

      ucr_ncic_code                     crimedescr
0              2404  10851(A)VC TAKE VEH W/O OWNER
1              2204     459 PC  BURGLARY RESIDENCE
2              2404  10851(A)VC TAKE VEH W/O OWNER
3              2501   476 PC PASS FICTICIOUS CHECK
4              2299   459 PC  BURGLARY-UNSPECIFIED
...             ...                            ...
7579           2999  594(B)(2)(A) VANDALISM/ -$400
7580           2203      459 PC  BURGLARY BUSINESS
7581           5400        TRAFFIC-ACCIDENT INJURY
7582           7000        3056 PAROLE VIO - I RPT
7583           5400    TRAFFIC-ACCIDENT-NON INJURY

[7584 rows x 2 columns]

In [79]:
df.head()

     cdatetime              address  ...   latitude   longitude
0  1/1/06 0:00   3108 OCCIDENTAL DR  ...  38.550420 -121.391416
1  1/1/06 0:00  2082 EXPEDITION WAY  ...  38.473501 -121.490186
2  1/1/06 0:00           4 PALEN CT  ...  38.657846 -121.462101
3  1/1/06 0:00       22 BECKFORD CT  ...  38.506774 -121.426951
4  1/1/06 0:00     3421 AUBURN BLVD  ...  38.637448 -121.384613

[5 rows x 9 columns]

In [86]:
df.columns

Index(['cdatetime', 'address', 'district', 'beat', 'grid', 'crimedescr',
       'ucr_ncic_code', 'latitude', 'longitude'],
      dtype='object')

In [94]:
df_filtrado = df[['longitude', 'latitude']]
df_filtrado.head()

    longitude   latitude
0 -121.391416  38.550420
1 -121.490186  38.473501
2 -121.462101  38.657846
3 -121.426951  38.506774
4 -121.384613  38.637448

In [82]:
df[df["ucr_ncic_code"] == 7000]

          cdatetime                  address  ...   latitude   longitude
10      1/1/06 0:00       2315 STOCKTON BLVD  ...  38.554264 -121.454604
12      1/1/06 0:00        6351 DRIFTWOOD ST  ...  38.510922 -121.548820
16      1/1/06 0:00             6033 69TH ST  ...  38.516573 -121.423475
24      1/1/06 0:01              15 BASIN CT  ...  38.442815 -121.409524
28      1/1/06 0:01           1816 FLORIN RD  ...  38.495353 -121.496560
...             ...                      ...  ...        ...         ...
7535  1/31/06 19:57           16TH ST / W ST  ...  38.563825 -121.491401
7551  1/31/06 21:30            2454 KNOLL ST  ...  38.610070 -121.431188
7570  1/31/06 22:30             1856 3RD AVE  ...  38.553461 -121.491734
7578  1/31/06 23:31  39TH ST / STOCKTON BLVD  ...  38.556639 -121.459745
7582  1/31/06 23:45       5303 FRANKLIN BLVD  ...  38.527187 -121.471248

[2470 rows x 9 columns]

In [84]:
panchito_700 = df_filtrado['ucr_ncic_code'] == 7000

df[filtro_ucr_code_7000]

NameError: ignored

In [89]:
df['latitude'].mode()

0    38.638629
dtype: float64

In [90]:
df['latitude'].max()

38.68378949

### Encontrar el centro del crimen

In [91]:
promedio_lat = df['latitude'].mean()
promedio_lon = df['longitude'].mean()

print(f'Lat Promedio: {promedio_lat}')
print(f'Lon Promedio: {promedio_lon}')

Lat Promedio: 38.55980901661417
Lon Promedio: -121.46383201401629

In [0]:
from math import radians, cos, sin, asin
from numpy import sqrt

def distancia_semiverseno(lat1, lon1, lat2, lon2):
  lat1,lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])

  dlon = lon2 - lon1
  dlat = lat2 - lat1

  a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
  c = 2 * asin(aqrt(a))
  return c * r

In [0]:
l1 = 38.554264 	-121.454604

In [0]:
promedio_lat = df['latitude'].mean()
promedio_lon = df['longitude'].mean()

serie_lat = df['latitude']
serie_lon = df['longitude']

In [105]:
resultados = []

for i in range(len(serie_lon)):

  resultado = distancia_semiverseno(serie_lat[i], serie_lon[i], promedio_lat, promedio_lon)
  resultados.append(resultado)

NameError: ignored

In [106]:
distancia_al_centro = pd.Series(resultados, name='distancia_al_centro')

distancia_al_centro

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], Name: distancia_al_centro, dtype: float64)

In [107]:
df_completo = df.join(distancia_al_centro)

df_completo.head()

     cdatetime              address  ...   longitude distancia_al_centro
0  1/1/06 0:00   3108 OCCIDENTAL DR  ... -121.391416                 NaN
1  1/1/06 0:00  2082 EXPEDITION WAY  ... -121.490186                 NaN
2  1/1/06 0:00           4 PALEN CT  ... -121.462101                 NaN
3  1/1/06 0:00       22 BECKFORD CT  ... -121.426951                 NaN
4  1/1/06 0:00     3421 AUBURN BLVD  ... -121.384613                 NaN

[5 rows x 10 columns]